body{
    background-color: darkseagreen;
}
nav {
    border-top: 3px solid darkslategrey;
    clear: left;
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 3px solid darkslategrey;
    display: block;
    text-align: center;
}
nav ul {
    margin-left: 0;
    margin-bottom: .5em;
    list-style: none;
    padding: .5em 2em 0 0;
}
nav li{
    display: inline;
    padding: 8px;
    background-color: beige;
}
input {
    background-color: bisque;
}
label {
    border: 1px solid lightgreen;
}
form {
    width:90%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    text-align: center;
}

h3 {
    font-family: cursive;
    text-align: center;
}
h1 {
    padding-top: 150px;
    font-family: monospace;
    color: darkslategrey;
    margin-left: 540px;
}
psb {
    margin-left: 39pc;
}
